@import "variables";
@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
    src: url("../fonts/Mulish-VariableFont_wght.ttf");
    font-family: 'Mulish';
}
body {
    background-color: lightgray;
    font-family: 'Mulish', sans-serif;
}
.container {
    min-height: 100vh;
}
