@import "variables";
.card-reps {
  overflow: hidden;
  & .card-reps-content {
    padding: 2rem;
    & table {
      margin-bottom: 0;
      display: flex;
      flex-flow: column nowrap;

      & tr  {
        display: flex;
        & td, & th {
          flex: 1 0 25%;
        }
        & td:last-child, & th:last-child {
          max-width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      tbody tr {
        &:first-child {
          margin-top: 10px;
        }
        margin-bottom: 10px;
        border-radius: 0.5rem;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.075);
        &.info {
          border: 1px #4141f6 solid;
        }
        & td {
          border: none;
        }
      }
      tfoot tr td{
        border: none;
      }
    }
  }
  & .card-reps-info {
    background-color: $main;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    & h6 {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.67rem;
      margin-bottom: 2rem;
    }

    & h2 {
      letter-spacing: 1px;
      font-size: 1.5rem;
      font-weight: bold;
    }

    & #item-info {
      color: $white;
      text-decoration: none;
    }
  }
  & form.js-new-rep-log-form .row {
    flex-wrap: wrap;
    gap: 1rem;
    & > .col {
      flex: 1 1 auto;
    }
    & .col:last-child {
      max-width: fit-content;
    }
  }
}

/* leaderboard */
.accordion-container {
  & .accordion-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background-color: $main;
    color: $white;
    border-radius: .375rem;
    cursor: pointer;
    border: none;
    & .btn-icon {
      transition: transform .3s;
    }
  }
  &[data-acc-init="show"] {
    .btn-icon {
      transform: rotate(180deg);
    }
    & .accordion-btn {
      border-radius: .375rem .375rem 0 0;
    }
    & .panel-wrapper {
      border-radius: 0 0 .375rem .375rem;
      max-height: fit-content;
    }
  }
  & .panel-wrapper {
    background-color: $white;
    padding: 0 2rem;
    transition: max-height .3s ease-out;
    overflow: hidden;
    max-height: 0;
    & .panel {
      padding: 1rem 0 2rem;
      & .table-responsive {
        max-height: 298px;
      }
      & table {
        display: flex;
        flex-flow: column nowrap;
        padding-right: 5px;
        margin-bottom: 0;
        & tr {
          display: flex;
          & th, & td {
            flex: 1 1 50%;
          }
        }
        & tbody {
          & tr:first-child {
            margin-top: 10px;
          }
          & tr {
            background-color: rgba(0, 0, 0, 0.075);
            border-radius: .5rem;
            overflow: hidden;
            margin-bottom: 10px;
          }
          & tr:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/* style for screen >= 576px */
@media (min-width: 576px) {
  .card-reps form.js-new-rep-log-form .row {
    flex-wrap: nowrap;
    gap: 0;
  }
}